@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;

  --font-sans: var(--font-barlow), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
    font-family: var(--font-barlow), ui-sans-serif, system-ui, sans-serif;
  }
}