@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}
