@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;

  --font-sans: var(--font-barlow), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);

  --animate-spin-slow: spin 8s linear infinite;
  --animate-marquee: marquee 25s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
    font-family: var(--font-barlow), ui-sans-serif, system-ui, sans-serif;
  }
}